fastapi
uvicorn
python-multipart
streamlit
pydantic
pydantic-settings
pymupdf
langchain
langchain-openai
langchain-community
langchain-groq
sentence-transformers
faiss-cpu
python-dotenv
tiktoken
pandas
numpy
reportlab
